=render "/layouts/topmenu"

%h1 About

%p
  This webpages it developed by Rasmus Østergaard Juhl and
  Silas Jeppe Christensen (DMAB0914) as a part of an assignment in the course:
  "Web Development Open Source 1". This is the information we have been given:

%h2 Notes app
%p
  As part of the module Web Development Open Source you will create your
  own application for writing notes. The user interface should be a web
  page and the notes should be stored in a database.
%p This assignment should be done individually.

%h3 Requirements:

%ul
  %li Web page with HTML conforming to the HTML 5 specification
  %li Styling the web page using CSS
  %li Functionality:
  %ul
    %li Create a note and store it in the database
    %li Display notes from the database
    %li Update notes from the database
    %li Delete notes from the database

%h3 It is up to you to decide:

%ul
  %li what kind of properties a note should have (like a title, date etc.)
  %li if the notes should be organized somehow (like category, tags etc.)
  %li the choice of web server and database system (Open Source...)
%p
  The notes app should be ready to present in the
  last session (and for dmaf0216 at the examination).

=render "/layouts/footer"
