=render "/layouts/topmenu"

%h1 All notes

%ul
  -@notes.each do |note|
    %li.list-unstyled
      =note.id
      =link_to note.title, note
      =link_to "Destroy", note, method: :delete, data: { confirm: "Are you sure you want to delete this note?"}
      =link_to "Edit", edit_note_url(note)

=render "/layouts/footer"
