%ul.menu
  %li.menu
    %a{:href => welcome_index_url} Home
  %li.menu
    %a.hover{:href => notes_url} Show notes
  %li.menu
    %a{:href => new_note_url} New Note
  %ul.undermenu{:style => "float:right;list-style-type:none;"}
    %li.undermenu
      %a{:href => about_url} About
